/* Form */

.flight-form .form-section .form-section-title {
    color: dodgerblue;
    border-bottom: solid grey 1px;
    padding: 3px 10px;
}

.flight-form .minwidth200 {
    min-width: inherit;
}

.flight-form .form-group {
    margin: 10px 10px;
}

.flight-form .form-group label {
    margin-bottom: 3px;
    font-size: 12pt;
}

.flight-form input:not([type=checkbox]):not([type=radio]), .flight-form select, .flight-form .select2, .flight-form textarea {
    display: block;
    width: 95% !important;
    line-height: 2em;
}

.flight-form input:not([type=checkbox]):not([type=radio]), .flight-form .select2, .flight-form textarea {
    border: solid 1px var(--inputbordercolor);
    border-radius: 5px;
}

.flight-form .input-group {
    position: relative;
}

.flight-form .input-group .input-symbol {
    position: absolute;

    right: 0;
    top: 0;

    padding: 5px;

    line-height: 2em;
}

#list_order .list:empty {
    height: 100px;
    border: dashed 2px #16056B;

    color: #16056B;
    font-size: 20px;

    display: flex;
}

#list_order .list:empty:after {
    content: "Veuillez ajouter au moins un element de facturation ...";
    margin: auto;
}

.flight-form .order-row:first-child td {
    border-top: solid 1px darkgray;
}

.flight-form .order-row td {
    border-bottom: solid 1px darkgray;
    border-spacing: 0;
    border-collapse: collapse;
}

.flight-form .order-row .remove {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.flight-form .order-row .order-reference {
    font-weight: bold;
    padding-bottom: 10px;
}

.flight-form .order-row .form-group {
    margin-left: 0;
    margin-top: 10px;
}

.flight-form .inline-radio {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flight-form .inline-radio label input[type=radio] {
    margin-bottom: 10px;
}

.flight-form .inline-radio label {
    width: 100px;

    margin: 10px 3px;
    padding: 10px;
    text-align: center;

    cursor: pointer;

    box-shadow: 2px 2px 3px #A6A6A6;

    background-color: #B4D7FE;
    color: #16056B;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.flight-form .inline-radio label .icon {
    font-size: 2em;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .flight-form .inline-radio label .icon {
        display: none;
    }
}

input:focus {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6);
}

input.error, textarea.error {
    border-color: #a94442;
}

/* errors */
.error-messages .error {
    padding: 3px 10px;
    margin-bottom: 5px;
    border-radius: .25rem;
}

.section .section-title {
    color: dodgerblue;
    border-bottom: solid grey 1px;
    padding: 3px 10px;
}

/* tables */
.bbc-style table:not(.style-default) {
    overflow-x: auto;
    margin-bottom: 2.5rem;
    border-collapse: collapse;
}

.bbc-style table:not(.style-default).border {
    border: 1px solid #e1e1e1;
}

.bbc-style table:not(.style-default).border td {
    border: 1px solid #e1e1e1;
}

.bbc-style table:not(.style-default) th,
.bbc-style table:not(.style-default) td {
    padding: 12px 15px;

    text-align: left;

    border-bottom: 1px solid #e1e1e1;
}

.bbc-style table:not(.style-default) th:first-child,
.bbc-style table:not(.style-default) td:first-child {
    padding-left: 5px;
}

.bbc-style table:not(.style-default) th:last-child,
.bbc-style table:not(.style-default) td:last-child {
    padding-right: 5px;
}

.bbc-style table:not(.style-default) tr:hover {
    background-color: #f5f5f5;
}

.bbc-style table:not(.style-default) tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bbc-style table.bill {
    width: 100%;
}

.bbc-style table.bill th {
    text-align: left;
    font-weight: bold;

    font-size: 1.2em;

    padding: 10px 5px;

    color: dodgerblue;

    background-color: #e8e8e8;
}

.bbc-style table.bill th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bbc-style table.bill td {
    padding: 10px 0;
}


/* Helpers */
.bbc-style ._full-width {
    width: 100%;
}

.bbc-style ._max-full-width {
    max-width: 100%;
}

.bbc-style ._force-full-width {
    min-width: 100%;
}

.bbc-style ._width100 {
    width: 100%;
}

.bbc-style ._width75 {
    width: 75%;
}

.bbc-style ._width50 {
    width: 50%;
}

._alignCenter {
    text-align: center;
}

.bbc-style ._alignRight {
    text-align: right;
}

.bbc-style .font-italic {
    font-style: italic;
}

.bbc-style ._danger {
    border-color: #f44336 !important;
    background-color: #f44336 !important;
}

.bbc-style ._success {
    border-color: #29c559 !important;
    background-color: #29c559 !important;
}

.bbc-style ._info {
    border-color: #2196f3 !important;
    background-color: #2196f3 !important;
}

.bbc-style ._warning {
    border-color: #ff9800 !important;
    background-color: #ff9800 !important;
}

.bbc-style ._active {
    border: 1px solid #687282 !important;
    background-color: #687282 !important;
}

.bbc-style ._dark {
    border: 1px solid #333 !important;
    background-color: #333 !important;
}

.bbc-style ._white {
    border: 1px solid #fff !important;
    background-color: #fff !important;
}

.bbc-style ._grey {
    border: 1px solid #d3d3d3 !important;
    background-color: #d3d3d3 !important;
}

.bbc-style ._cream {
    border: 1px solid #f0f0f0 !important;
    background-color: #f0f0f0 !important;
}

.bbc-style ._purple {
    border: 1px solid #800080 !important;
    background-color: #800080 !important;
}

.bbc-style ._primary {
    border-color: #33c3f0 !important;
    background-color: #33c3f0 !important;
}

.bbc-style ._cream,
.bbc-style ._white {
    color: #000 !important;
}

.bbc-style ._primary,
.bbc-style ._purple,
.bbc-style ._grey,
.bbc-style ._dark,
.bbc-style ._active,
.bbc-style ._danger,
.bbc-style ._success,
.bbc-style ._info,
.bbc-style ._warning {
    color: #fff !important;
}

/* BOX */
.bbc-style .box {
    border-left: 5px solid;
    border-radius: 3px;
    padding-left: 10px;
}

.bbc-style .box.box-warning {
    border-left-color: #ff9800;
}

.bbc-style .cadre_prix_total {
    border-top: grey solid 2px;
}

.bbc-style .button {
    text-align: center;
    cursor: pointer;
    width: 100%;
    text-decoration: none !important;
    background-image: none !important;
    border-color: initial;
    text-transform: uppercase;
    color: #444;
    line-height: 2em;
    border-radius: initial;

    background: var(--butactionbg);
    color: #FFF !important;
    border-radius: 3px;
    border-collapse: collapse;
    border: none;
}

.hidden {
    display: none;
}

.text-muted {
    color: grey;
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px black;
}


/* GRID system */
.d-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.d-grid .grid-col {
    margin: 10px;
}


.show-sm {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .d-grid .col, .d-grid .grid-col {
        grid-column: auto / span 12;
    }

    .d-grid .grid-col.grid-col-6 {
        grid-column-end: span 12 !important;
    }

    .d-grid .grid-col.grid-col-12 {
        grid-column-end: span 12 !important;
    }

    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: initial !important;
    }

    .flight-form .inline-radio label {
        width: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .d-grid .col, .d-grid .grid-col {
        grid-column: auto / span 4;
    }

    .d-grid .grid-col.grid-col-6 {
        grid-column-end: span 6 !important;
    }

    .d-grid .grid-col.grid-col-12 {
        grid-column-end: span 12 !important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .d-grid .col, .d-grid .grid-col {
        grid-column: auto / span 3;
    }

    .d-grid .grid-col.grid-col-6 {
        grid-column-end: span 6 !important;
    }

    .d-grid .grid-col.grid-col-12 {
        grid-column-end: span 12 !important;
    }
}

@media screen and (min-width: 1200px) {
    .d-grid .col, .d-grid .grid-col {
        grid-column: auto / span 2;
    }

    .d-grid .grid-col.grid-col-6 {
        grid-column-end: span 6 !important;
    }

    .d-grid .grid-col.grid-col-12 {
        grid-column-end: span 12 !important;
    }
}


/* flex system */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.pilot-form fieldset {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.pilot-form fieldset legend {
    font-weight: bold;
    font-size: 1.1rem;
}

.pilot-form fieldset div {
    margin-top: 10px;
}

.m-2{
    padding: 20px;
}

.mt-2{
    padding-top: 20px;
}