
/* Form */
.flight-form .form-section .form-section-title {
    color: dodgerblue;
    border-bottom: solid grey 1px;
    padding: 3px 10px;
}

.flight-form .form-section table tr > td {
    width: 25%;
}

input:focus{
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

input.error, textarea.error{
    border-color: #a94442;
}

/* errors */
.error-messages .error{
    padding: 3px 10px;
    margin-bottom: 5px;
    border-radius: .25rem;
}